<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar</title>
</head>
<body>
    <div>
        <h1>Cadastro de Alunos</h1>
        <hr>
        <form action="" method="POST">
            <table>
                <tr>
                    <td>Nome</td>
                    <td> <input type="text" name="nome" value="{{aluno.nome}}"></td>
                </tr>
            </table><br>
            <input type="submit" value="Atualizar">
        </form>
    </div>
</body>
</html>