<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="cadastro">
        <h1>CADASTRO DE ALUNOS</h1>
        <form action="{{ url_for('cadastro') }}" method="POST">
            <div class="caixa-de-texto">
                <input type="text" name="nome" placeholder="NOME" class="estilo-caixa-de-texto">
            </div>
            <div class="botao">
                <input type="submit" value="CADASTRAR"  class="estilo-botao">
            </div>
        </form>
    </div>
</body>
</html>
