<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página de consulta do BD</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="h1-tabela">LISTA DE ALUNOS</h1>
    <hr>
    <table>
        <tr id="legenda-tabela">
            <td>ID</td>
            <td>MATRÍCULA</td>
            <td>NOME</td>
            <td>ATUALIZAR</td>
            <td>EXCLUIR</td>
        </tr>
        {% for aluno in alunos%}
        <tr id="info-tabela">
            <td>{{aluno.id_aluno}}</td>
            <td>{{aluno.matricula}}</td>
            <td>{{aluno.nome}}</td>
            <td><a href ="/atualizar/{{aluno.id_aluno}}">X</a></td>
            <td><a href="/deletar/{{aluno.id_aluno}}">X</a></td>
        </tr>
        {% endfor %}
    </table><br>
    <form action="{{ url_for('voltar') }}" method="get">
        <div class="botao">
            <button type="submit">VOLTAR</button>
        </div>    
    </form>
</body>
</html>